page{
  background-color: #eee;
}
.search_row{
  display: flex;
  padding: 10rpx;
  margin-top: 5rpx;
  height: 90rpx;
  input{
    padding-left: 20rpx;
    background-color: #fff;
    height: 100%;
    flex: 5;
    margin-right: 10rpx;
    border-radius: 10rpx;
    color: #808090;
  }
  button{
    flex: 1;
    border-radius: 10rpx;
    text-align: center;
    line-height: 70rpx;
    padding: 0;
    font-size: 24rpx;
    background-color: #fff;
    color: #808090;
  }
}
.content{
  margin: 10rpx 20rpx;
  .title{
    border-radius: 10rpx;
    line-height: 70rpx;
    border-bottom: 1px solid #eee;
    height: 70rpx;
    background-color: #fff;
    padding-left: 10rpx;
    color: #4c5136;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box; //作为弹性伸缩盒子模型显示。
    -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
    -webkit-line-clamp:1; //显示的行
  }
}